caption {
      background-color: wheat;
    text-align: center;
    caption-side: top;
  } 
td, th {
    display: flex;
    width: 85px;

}
  
  th {
    height: 120px;

  }
 .block_1 {
  width: 15rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: #eee;
  top: 150px;
  left: 95px;
  text-align: center;
    padding-top: 3px;
  position: absolute;
}
.block_2 {
  width: 15rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: #eee;
  top: 200px;
  left: 95px;
  text-align: center;
    padding-top: 3px;
  position: absolute;
}
.errorStyle{
  position: absolute;
  bottom: 50px;
  font-size: 20px;
  left: 126px;
  color: red;
}
@media only screen and (min-width:768px){
  th {
    height: 100px;

  }
  .block_1 {
    top: 60px;
    left: 30%;
  }
  .block_2 {
    top: 60px;
    left: 60%;
  }
  .errorStyle{
    top: 70px;
    font-size: 20px;
    left: 100px;
    color: red;
  }

}

