caption {
      background-color: wheat;
    text-align: center;
    caption-side: top;
  } 
  /* .table-bordered tr, .table-bordered th{
      width: 3px;
  } */
  /* table, th, td {
   width: 10px;
  } */
  /* .rowStyle{
      width: 10px;
  }
.table-bordered{
    width: 10px;
} */
td, th {
    display: flex;
    width: 85px;

}
  
  th {
    height: 120px;

  }
 .block_1 {
  width: 15rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: #eee;
  top: 150px;
  left: 95px;
  position: absolute;
}
.block_2 {
  width: 15rem;
  height: 2rem;
  margin: 0.5rem;
  background-color: #eee;
  top: 200px;
  left: 95px;
  position: absolute;
}

